.woocommerce-cart {

  .shop_table {
    .quantity {
      .input-text {
        padding-left: 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 30px;
      }
    }
    .button {
      color: #ffffff !important;
    }
  }

  .cart-collaterals {

    .card-raised {
      @include no-box-shadow();
    }
  }
}