.woocommerce-cart {

  .shop_table {
    .quantity {
      .input-text {
        padding-left: 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 30px;
      }
    }
    .button {
      @include round-button();
      color: #ffffff !important;
      font-size: 12px !important;
      padding: 11px 22px !important;
      border: none !important;

      &:hover {
        @include button-hover();
      }
    }
  }

  .cart-collaterals {

    .card-raised {
      @include no-box-shadow();

      .checkout-button {
        @include round-button();
        @include no-box-shadow();

        &:hover {
          @include button-hover();
        }
      }
    }
  }

  .return-to-shop a.button {
    @include round-button();
    box-shadow: none !important;

    &:hover {
      @include button-hover();
    }
  }
}