/* General */
.woocommerce-message::before,
.woocommerce-error::before {
  color: #ffffff !important;
}

/* Product Page */
.woocommerce.single-product .woocommerce-error {
  background-color: $error-notification;
}
.woocommerce.single-product .woocommerce-message {
  background-color: $success-notification;
}
.woocommerce.single-product .woocommerce-error,
.woocommerce.single-product .woocommerce-message {
  float: right;
  color: #ffffff;
  border-radius: 4px;
  max-width: 50%;

  a, a:hover {
    color: inherit;
  }
}
@media (max-width: 1199px) {
  .woocommerce.single-product .woocommerce-error,
  .woocommerce.single-product .woocommerce-message {
    max-width: 45%;
    margin-right: 28px;
  }
}
@media (max-width: 992px) {
  .woocommerce.single-product .woocommerce-error,
  .woocommerce.single-product .woocommerce-message {
    max-width: 40%;
    margin-right: 35px;
  }
}
@media (max-width: 768px) {
  .woocommerce.single-product .woocommerce-error,
  .woocommerce.single-product .woocommerce-message {
    float: none;
    max-width: 1000%;
    margin-right: 0;
  }
}

/* Cart */
.woocommerce-cart {
  .woocommerce-message {
    .restore-item {
      color: #ffffff;
    }
  }

  .woocommerce-message {
    @include woocommerce-notification();
    background-color: $success-notification;
  }
  .woocommerce-error {
    @include woocommerce-notification();
    background-color: $error-notification;
  }
}

/* Checkout */
.woocommerce-checkout {

  .woocommerce-message {
    @include woocommerce-notification();
    background-color: $success-notification;
  }

  .woocommerce-error {
    @include woocommerce-notification();
    background-color: $error-notification;
  }

  #hestia-checkout-coupon .woocommerce-message {
    margin-left: auto;
    margin-right: auto;

    &::before {
      color: #ffffff;
    }
  }
  #hestia-checkout-coupon .woocommerce-error {
    margin-left: auto;
    margin-right: auto;
    &::before {
      color: #ffffff;
    }
  }
}

/* Account */
.woocommerce-account {
  .woocommerce-message {
    @include woocommerce-notification();
    background-color: $info-notification;
  }
  .woocommerce-error {
    @include woocommerce-notification();
    background-color: $error-notification;

    a {
      color: #ffffff;
    }
  }
}